
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Ysabeau&display=swap');


.navbar_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    font-family: 'Ysabeau', sans-serif;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.nav-link:hover {
    color: red; /* Change the color on hover */
    text-decoration: underline; /* Add underline on hover */
  }

.navbar_links {
    margin-right: 20px; 
}


/* 

// OLD STYLES

// .header {
//     height: 70px;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 25px;
  
//     .logo-container {
//       height: 100%;
//       width: 70px;
//       padding: 25px;
//     }
  
//     .options {
//       width: 50%;
//       height: 100%;
//       display: flex;
//       align-items: center;
//       justify-content: flex-end;
  
//       .option {
//         padding: 10px 15px;
//         cursor: pointer;
//       }
//     }
//   }
   */