/* .container-slider {
    width: 90%;
    height: 420px;
    margin: 20px auto 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  } */

  .container-slider {
    /* max-width: 100vh; */
    height: 400px;
    justify-content: center;
    /* align-items: center; */
    /* justify-items: center; */
    margin: 20px;
    /* flex-direction: column; */
    display: flex;
    /* overflow: hidden; */
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);

  }

  .sliderBox{
        /* height: 500px; */
        width: 95%;
        background-color: skyblue;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
  }

  .sliderContent {

  }

  .sliderLeft {
    width: 30%;
    background-color: dodgerblue;
  }

 .sliderRight {
    width: 70%;
    height: 400px;
    background-color: darkviolet;
    overflow: hidden;
    position: relative;
 }

 .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 img {
    width: 100%;
    height: auto;
    background-color: darkviolet;
    overflow: hidden;
 }

  .btn-slide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }

  .active-anim {
    opacity: 1;
  }
