@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Ysabeau&display=swap');

.main-container{
    display: flex;
    justify-content: center;
    font-family: 'Ysabeau', sans-serif;
    height: 100vh;
    width: 100vw;
}

.sign-in-container h2{
    font-size: 1rem;
    padding: 2rem;
}

.sign-in-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-fields{
    display: flex;
    flex-direction: column;
}

.signin-input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;
  
    h2 {
      margin: 10px 0;
    }
  
    .buttons-container {
      display: flex;
      justify-content: space-between;
    }
  }