@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Ysabeau&display=swap');

.section_hero_bg {
    /* z-index: -100;
    object-fit: fill;
    background-image: linear-gradient(transparent,#19475F),url('/src/assets/src-imgs/cropped-bg.jpg');
    background-position: 0 0,50% 0;
    background-repeat: repeat,no-repeat;
    /* background-size: auto,cover; */
    /* background-size:contain;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%; */
    z-index: -100;
    object-fit: fill;
    background-image: linear-gradient(transparent,#19475F),url('/src/assets/src-imgs/cropped-bg.jpg');
    background-position: 0 0,50% 0;
    background-repeat: repeat,no-repeat;
    background-size: auto,cover;
    position: absolute;
    top: -6%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 650px;
}

/* .padding-global{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
} */

.title h1{
    white-space: nowrap;
    font-family: 'Ysabeau', sans-serif;
    font-size: 6.5rem;
    color: white;
    font-weight: 100;
    letter-spacing: 1.6rem;
    margin: 0;
}

.title h2{
    font-family: 'Ysabeau', sans-serif;
    font-size: 2.2rem;
    color: white;
    letter-spacing: 1rem;
    margin: 0;
    line-height: .5;
}

.workshop-list{
    /* background:white;
    opacity: 0; */
    height: 700px;
    border: 1px solid black;
}

.hero {
 margin-bottom: 100px;
}

.title {
    margin-top: 6rem;
}
