.admin-form {
    display: flex;
    flex-direction: column;
}

.admin-form-container{
    width: 250px;
}

.admin-form label{
    margin-top: 5px;
}

.admin-form input{
    margin-bottom: 10px;
}

.send-button {
    background: lightblue;

    &:disabled{
        background-color: aquamarine;
        cursor: not-allowed;
    }
}

.workshops-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    margin-top: 20px;
}